<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <title>MUFC - ADMIN</title>
    <link rel="shortcut icon" type="image/jpg" href="favicon.ico" />
    <script>
      window.initialState = __INITIAL_STATE__;
      window.exports = {};
    </script>
    <style>
      body {
        margin: 0px;
        padding: 0px 0px;
        font-family: monospace;
        font-size: 16px;
        overflow-y: scroll;
      }

      table {
        width: 100%;
      }

      th {
        text-align: left;
      }

      select {
        padding: 20px 0px;
      }

      h3 {
        background: slateblue;
        color: white;
        padding: 10px 5px;
        margin: 0px -5px 10px -5px;
      }

      label {
        padding-top: 15px;
        display: block;
      }

      textarea {
        display: block;
        width: 100%;
        min-height: 300px;
        text-align: left;
        margin: 10px auto;
      }

      button {
        background-color: slateblue;
        color: white;
        min-width: 200px;
        margin: 5px auto 20px auto;
        border: 0px;
        padding: 10px;
        display: block;
      }

      button:active,
      button:focus,
      button:hover {
        opacity: 0.8;
        outline: 0px;
        cursor: pointer;
      }

      nav {
        height: 100px;
        display: flex;
        justify-content: center;
      }

      nav a {
        min-width: 200px;
        text-align: center;
        line-height: 100px;
      }

      nav a.active {
        color: rgb(9, 9, 75);
        background-color: whitesmoke;
      }

      section {
        padding: 0px 5px;
      }

      .toolbar a {
        padding: 10px 20px;
      }

      .toolbar a:hover {
        background-color: whitesmoke;
      }

      .planning_view table tbody tr:hover {
        --tw-bg-opacity: 1;
        background-color: rgba(191, 219, 254, var(--tw-bg-opacity));
        cursor: pointer;
      }

      .dashboard .item_title {
        cursor: pointer;
      }

      input[type="checkbox"] {
        width: 25px;
        height: 25px;
      }
    </style>
  </head>

  <body>
    <div id="app">
      <nav>
        <a
          href="#"
          @click="()=>view='dashboard'"
          :class="{active:view==='dashboard'}"
          >Dashboard</a
        >
        <a
          v-if="false"
          href="#"
          @click="switchToPlanning"
          :class="{active:view==='planning'}"
          >Planning</a
        >
        <a href="#" @click="()=>view='notice'" :class="{active:view==='notice'}"
          >Notice</a
        >
      </nav>

      <section class="dashboard">
        <div v-if="view==='dashboard'">
          <div v-for="item in matches">
            <h3
              class="item_title"
              v-text="item.dateF"
              @click="toggleMatchTable(item)"
            ></h3>
            <table v-if="item._showTable" aria-label="Matches table">
              <thead>
                <tr>
                  <th colspan="3" scope="col">
                    Total players: <span v-text="item.players.length"></span>
                  </th>
                </tr>
                <tr>
                  <th scope="col">Team</th>
                  <th scope="col">Nom</th>
                  <th scope="col">Email</th>
                  <th scope="col">Portable</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="player in item.players">
                  <td>
                    <div v-show="!canEditTeam(item)">
                      <span v-text="player.team"></span>
                    </div>

                    <div v-show="canEditTeam(item)">
                      <select
                        v-model="player.teamNumber"
                        @change="onPlayerTeamChange(player)"
                      >
                        <option value="0">Absense</option>
                        <option value="1">Equipe 1</option>
                        <option value="2">Equipe 2</option>
                        <option value="3">Equipe 3</option>
                        <option value="4">Equipe 4</option>
                        <option value="5">Liste d'attente</option>
                      </select>
                    </div>
                  </td>
                  <td v-text="player.nickname"></td>
                  <td v-text="player.email"></td>
                  <td v-text="player.phone"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!-- PLANNING (EVENT TEMPLATES) -->
        <div v-if="view.includes('planning')">
          <section class="toolbar">
            <a
              href="#"
              v-show="view==='planning'"
              @click="()=>view='planning.add'"
              >Add</a
            >
            <a href="#" v-show="view==='planning.add'" @click="switchToPlanning"
              >Cancel</a
            >
            <a href="#" v-show="view==='planning'" @click="fetchEventTemplates"
              >Refresh list</a
            >
          </section>
          <section class="planning_add" v-if="view==='planning.add'">
            <label>Title</label>
            <input v-model="eventTpl.title" />
            <label>Date</label>
            <input
              type="date"
              placeholder="Select event date"
              v-model="eventTpl.date"
            />
            <input
              type="time"
              placeholder="Select event time"
              v-model="eventTpl.time"
            />
            <label>Repeat</label>
            <select v-model="eventTpl.repeat">
              <option value="single">Does not repeat</option>
              <option value="day">Daily</option>
              <option value="week">Weekly</option>
              <option value="month">Monthly</option>
            </select>
            <button @click="saveEventTemplate">Save</button>
          </section>
          <section class="planning_view">
            <table class="table-fixed" aria-label="Event templates table">
              <thead>
                <tr>
                  <th scope="col" class="w-1/4 ...">Action</th>
                  <th scope="col" class="w-1/2 ...">Date</th>
                  <th scope="col" class="w-1/4 ...">Title</th>
                  <th scope="col" class="w-1/4 ...">Repeat</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  v-for="item in eventTemplates"
                  @click="editEventTemplate(item)"
                >
                  <td><input type="checkbox" @click="selectPlanningRow" /></td>
                  <td>{{item.datetime}}</td>
                  <td>{{item.title}}</td>
                  <td>{{item.repeatLabel}}</td>
                </tr>
              </tbody>
            </table>
          </section>
        </div>
        <div v-if="view==='notice'">
          <label
            >The follow message will be shown in the home page (html)</label
          >
          <textarea v-model="mainNotice"> </textarea>
          <button @click="saveMainNotice">Save</button>
        </div>
      </section>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/funql-api@1.2.11/client.cjs.js"></script>
    <script>
      var fql;

      function resetEventTpl() {
        return {
          title: "Example: Weekly Beach Foot",
          repeat: "week",
          date: "2021-07-29",
          time: "16:00",
        };
      }

      new Vue({
        el: "#app",
        data() {
          return {
            view: "dashboard",
            eventTpl: resetEventTpl(),
            eventTemplates: [],
            mainNotice:
              window.initialState.mainNotice ||
              `
<h3>Notice</h3>
<p>Notice message</p>
								`,
            endpoint: window.initialState.endpoint,
            matches: (window.initialState && window.initialState.matches) || [],
          };
        },
        created() {
          fql = createClient(this.endpoint);
        },
        methods: {
          selectPlanningRow(e) {
            e.stopPropagation();
          },
          async editEventTemplate(item) {
            this.eventTpl = await fql("fetchEventTemplateById", item._id, {
              namespace: window.initialState.namespace,
            });
            this.view = "planning.add";
          },
          toggleMatchTable(item) {
            if (item._showTable == undefined) {
              this.$set(item, "_showTable", true);
            } else {
              item._showTable = !item._showTable;
            }
          },
          switchToPlanning() {
            this.view = "planning";
            this.fetchEventTemplates();
            this.eventTpl = resetEventTpl();
          },
          async fetchEventTemplates() {
            this.eventTemplates = await fql(
              "fetchEventTemplates",
              {},
              {
                namespace: window.initialState.namespace,
              }
            );
          },
          async saveEventTemplate() {
            let missingField = ["title", "date", "time", "repeat"].find(
              (t) => !this.eventTpl[t]
            );
            if (missingField) {
              return window.alert(`${missingField} required`);
            }
            await fql(
              "saveEventTemplate",
              {
                ...this.eventTpl,
              },
              {
                namespace: window.initialState.namespace,
              }
            );
            this.switchToPlanning();
          },
          async saveMainNotice() {
            await fql(
              "saveMainNotice",
              {
                mainNotice: this.mainNotice,
              },
              {
                namespace: window.initialState.namespace,
              }
            );
            alert("Changes saved");
          },
          async onPlayerTeamChange(player) {
            await fql(
              "savePlayerSlot",
              {
                ...player,
              },
              {
                namespace: window.initialState.namespace,
              }
            );

            let data = await fql(
              "getAppBackofficeData",
              {},
              {
                namespace: window.initialState.namespace,
              }
            );
            this.matches = data;
          },
          canEditTeam(item) {
            return item.dateDiff >= -2;
          },
        },
      });
    </script>
  </body>
</html>
